<!-- edit_brand.html -->
{% extends "admin/admin_dsh.html" %}
{% load crispy_forms_tags %}
{% block main %}
<div class="container">
    <h1>Edit Your Brand</h1>

    <form method="post" action="{% url 'edt_brand_action' %}" class="border border-dark rounded p-4"
        enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" value="{{ brand.id }}" name="id">

        <div class="text-right mt-3">
            <button type="submit" class="btn btn-success">Edit Brand</button>
        </div>
    </form>
</div>
<script>
    {% if messages %}
    document.addEventListener('DOMContentLoaded', function () {
        {% for message in messages %}
        Swal.fire({
            icon: '{{ message.tags }}',
            title: '{{ message }}',
        });
        {% endfor %}
    });
    {% endif %}
</script>
{% endblock main %}