<!-- orders/templates/orders/order_list.html -->
{% extends "app/base.html" %}
{% load static %}

{% block title %}
Order History
{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Order History</h5>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Total Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if orders %}
                            {% for order in orders %}
                            <tr>

                                <td>{{ forloop.counter }}</td>
                                <td>{{ order.created }}</td>
                                <td>₹{{ order.total_paid }}</td>
                                <td><a class="btn btn-success" href="{% url 'payment:order_detail' order.id %}">view</a></td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="3">No orders yet.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}